<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/login.css" media="all">
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">

        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>注册</h2>
        </div>

        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">

            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                       for="LAY-user-login-nickname"></label>
                <input type="text" name="userName" id="LAY-user-login-nickname" lay-verify="required" placeholder="用户名"
                       class="layui-input">
            </div>

            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="LAY-user-login-password"></label>
                <input type="password" name="password" id="LAY-user-login-password" lay-verify="pass" placeholder="密码"
                       class="layui-input">
            </div>

            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                       for="LAY-user-login-repass"></label>
                <input type="password" name="repass" id="LAY-user-login-repass" lay-verify="required" placeholder="确认密码"
                       class="layui-input">
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="0" title="男" checked="">
                    <input type="radio" name="sex" value="1" title="女">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone"
                       for="LAY-user-login-cellphone"></label>
                <input type="text" name="phone" id="LAY-user-login-cellphone" lay-verify="phone" placeholder="手机"
                       class="layui-input">
            </div>


            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-male"
                       for="LAY-user-login-email"></label>
                <input type="text" name="email" id="LAY-user-login-email" lay-verify="email" placeholder="邮箱"
                       class="layui-input">
            </div>

            <div class="layui-form-item">
                <input type="checkbox" name="agreement" lay-skin="primary" title="同意用户协议" checked>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-reg-submit">注 册</button>
            </div>

            <div class="layui-trans layui-form-item layadmin-user-login-other">
                <a href="login.html" class="layadmin-user-jump-change layadmin-link layui-hide-xs">用已有帐号登入</a>
            </div>
        </div>
    </div>
</div>

<script src="/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'user'], function () {
        let $ = layui.$
            , form = layui.form;

        form.render();
        form.on('submit(LAY-user-reg-submit)', function (obj) {
            let field = obj.field;

            // 确认密码
            if (field.password !== field.repass) {
                return layer.msg('两次密码输入不一致');
            }

            // 是否同意用户协议
            if (!field.agreement) {
                return layer.msg('你必须同意用户协议才能注册');
            }

            //查看用户名是否存在
            $.ajax({
                url: '/user/userExit',
                data: {"name": field.userName},
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg('用户名已存在', {
                            offset: '15px'
                            , icon: 1
                            , time: 4000
                        });
                    } else {
                        //用户名不存在,注册用户
                        $.ajax({
                            type: "post",
                            url: "/user/register",
                            data: {
                                "userName": field.userName,
                                "password": field.password,
                                "sex": field.sex,
                                "phone": field.phone,
                                "email": field.email
                            },
                            success: function (res) {
                                if (res.code === 0) {
                                    layer.msg('注册成功,正在跳转到登录页面', {
                                        offset: '15px'
                                        , icon: 1
                                        , time: 2000
                                    }, function () {
                                        location.href = '/view/user/login.html';
                                    });
                                } else {
                                    layer.msg('注册失败,请稍候再试', {
                                        offset: '15px'
                                        , icon: 1
                                        , time: 2000
                                    });
                                }
                            },
                            error: function () {
                                location.href = '/view/tips/error.html';
                            }
                        });
                    }
                }
            });
        });
    });
</script>
</body>
</html>